<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero" class="tea-hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo zoom-in-out" src="<%- url_for('/images/logo-tealinuxos.png') %>">
    </div><div class="right">
      <!-- <h2 class="vue" style="color:white;">TealinuxOS</h2> -->
      <h1>
        <br>
        <%= __('index.slogan') %>
      </h1>
      <p>
        <a class="button" href="http://pinguin.dinus.ac.id/iso/tealinuxos/TeaLinuxOS-9.0-i386.iso"><%= __('index.tombol-download') %></a>
        <a class="button" href="http://pinguin.dinus.ac.id/iso/tealinuxos/TeaLinuxOS-9.0-amd64.iso"><%= __('index.tombol-download2') %></a>
        <!-- <a class="button white" href="<%- url_for_lang('/panduan') %>"><%= __('index.tombol-lihat') %></a> -->
      </p>
    </div>
  </div>
</div>
<div id="highlights">
  <div class="inner">
    <div class="description">
      <!-- <h1>TeaLinuxOS</h1> -->
      <div class="row center-xs">
          <div class="col-sm-4 col-xs-8">
              <img class="responsive" src="<%- url_for('/images/text-tealinuxos.png') %>" alt="">
          </div>
      </div>
      <p>
          <%= __('index.adalah') %>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <span class="icon-umbrella"></span>
      <h2>An<span class="tulis-teh"><span class="tulis-teh">tea</span></span>piracy</h2>
      <p>The opensource has come true, this is the time to revenge.</p>
    </div>

    <div class="point">
      <span class="icon-diamond"></span>
      <h2>High Quali<span class="tulis-teh">tea</span></h2>
      <p>Berangkat dari dukungan dari semua pihak sistem operasi ini mengalami penyempurnaan mejadi sistem operasi yang stabil dan berkualitas.</p>
    </div>

    <div class="point">
      <span class="icon-globe-alt"></span>
      <h2>Communi<span class="tulis-teh">tea</span></h2>
      <p>
        Dukungan kuat dari forum dan komunitas dunia virtual maupun komunitas riil menjadikan sistem operasi ini berkembang cepat.
      </p>
    </div>
    <div class="point">
      <span class="icon-chemistry"></span>
      <h2>Nutri<span class="tulis-teh">tea</span>on</h2>
      <p>
        Dukungan yang kuat dan tersedianya repository yang lengkap menjadikan sistem operasi ini penuh nutrisi.
      </p>
    </div>
  </div>
</div>

<div id="feature">
  <div class="row" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="box-nested right">
        <h1>< Dari Developer, untuk Developer /></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="box-nested left-side">
        <h2>Tea Module Installer</h2>
        <p>
          Tea Module Installer adalah aplikasi yang memudahkan pengguna memasang aplikasi dengan mudah, cepat dan offline.
          <br/>
          Cukup pasang, hanya yang kamu butuhkan.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="box-nested right-side">
        <img src="<%- url_for('/images/feature/tea-module-installer.png') %>" alt="Tea Module Installer"/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="box-nested left-side">
        <video autoplay loop>
          <source src="<%- url_for('/videos/theme-switcher.webm') %>" type="video/webm">
            I'm sorry; your browser doesn't support HTML5 video in WebM with VP8/VP9 or MP4 with H.264.
            <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
          </video>
          <!-- <img src="<%- url_for_lang('/images/feature/tea-module-installer.png') %>" alt="Tea Module Installer"/> -->
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="box-nested right-side">
          <h2>Tea Theme Switcher</h2>
          <p>
            Beralih tema dengan sekali klik!
            <br/>
            Secara bawaan, TeaLinuxOS memiliki dua mode tema, Developer mode (Dark) dan Normal mode (Light). Dengan Theme Switcher ini bergonta-ganti tema semakin cepat dan mudah.
          </p>
        </div>
      </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h2>Dapatkan TeaLinuxOS dengan geratis, <br>
        namun jika anda menyukai kami, anda dapat traktir kami (:</h2>
    <!-- <h3>PROUDLY SPONSORED BY</h3> -->
    <!-- <%- partial('partials/sponsors') %> -->
    <a class="become-sponsor button white" href="https://www.bountysource.com/teams/tealinuxos">Donasi Sekarang</a>
    <a class="become-sponsor button white" href="<%- url_for_lang('/kontribusi') %>">Ikut Kontribusi</a>
  </div>
</div>


<div id="footer">
  Released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
  2009-<%- new Date().getFullYear() %> Maintenance by <a href="http://doscom.org">Doscom</a>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
