<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="<%- url_for('/images/tealinuxos-logo.png') %>">
    </div><div class="right">
      <h2 class="vue">TealinuxOS</h2>
      <h1>
        <br>
        Operating System for Your Development Environment
      </h1>
      <p>
        <a class="button" href="http://pinguin.dinus.ac.id/linux/tealinux.html">Download TeaLinuxOS</a>
        <a class="button white" href="<%- url_for('/panduan') %>">Lihat Panduan</a>
      </p>
    </div>
  </div>
</div>
<div id="highlights">
  <div class="inner">
    <div class="description">
      <h1>TeaLinuxOS</h1>
      <p>
        TeaLinuxOS adalah distro Linux turunan Ubuntu yang dikembangkan oleh Dinus Open Source Community (DOSCOM) yang berorientasi pemrograman. Dengan menghadirkan filosofi, “Nikmatnya sebuah racikan”, TeaLinuxOS dikembangkan secara terbuka dan bersama-sama untuk menghasilkan distro Linux pemrograman yang dikhususkan untuk dunia pendidikan.
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <span class="icon-umbrella"></span>
      <h2>Anteapiracy</h2>
      <p>The opensource has come true, this is the time to revenge.</p>
    </div>

    <div class="point">
      <span class="icon-diamond"></span>
      <h2>High Qualitea</h2>
      <p>Berangkat dari dukungan dari semua pihak sistem operasi ini mengalami penyempurnaan mejadi sistem operasi yang stabil dan berkualitas.</p>
    </div>

    <div class="point">
      <span class="icon-globe-alt"></span>
      <h2>Communitea</h2>
      <p>
        Dukungan kuat dari forum dan komunitas dunia virtual maupun komunitas riil menjadikan sistem operasi ini berkembang cepat.
      </p>
    </div>
    <div class="point">
      <span class="icon-chemistry"></span>
      <h2>Nutriteaon</h2>
      <p>
        Dukungan yang kuat dan tersedianya repository yang lengkap menjadikan sistem operasi ini penuh nutrisi.
      </p>
    </div>
  </div>
</div>

<div class="row" id="feature">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box-nested right">
      <h1>< From Programmers, For Programmers /></h1>
    </div>
  </div>
</div>
<div class="row" id="feature">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="box-nested left-side">
      <h2>Tea Module Installer</h2>
      <p>
        Tea Module Installer adalah aplikasi yang memudahkan pengguna memasang aplikasi dengan mudah, cepat dan offline.
        <br/>
        Cukup pasang, hanya yang kamu butuhkan.
      </p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="box-nested right-side">
      <img src="<%- url_for('/images/feature/tea-module-installer.png') %>" alt="Tea Module Installer"/>
    </div>
  </div>
</div>

<div id="sponsors">
  <div class="inner">
    <h2>Dapatkan TeaLinuxOS dengan geratis, <br>
        namun jika anda menyukai kami, anda dapat traktir kami (:</h2>
    <!-- <h3>PROUDLY SPONSORED BY</h3> -->
    <!-- <%- partial('partials/sponsors') %> -->
    <a class="become-sponsor button white" href="https://www.bountysource.com/teams/tealinuxos">Donasi Sekarang</a>
    <a class="become-sponsor button white" href="<%- url_for('/kontribusi') %>">Ikut Kontribusi</a>
  </div>
</div>


<div id="footer">
  Released under the <a href="https://opensource.org/licenses/MIT" href="_blank">MIT License</a><br>
  2009-<%- new Date().getFullYear() %> Maintenance by <a href="http://doscom.org">Doscom</a>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
