<% if (page.type) { %>
    <div class="sidebar">
      <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      </ul>
    </div>
<% } else { %>

<% } %>
<div id="hero" class="content <%- page.type ? page.type + ' with-sidebar' : '' %> <%- page.type === 'panduan' ? page.path.replace(/.+\//, '').replace('.html', '') + '-panduan' : '' %> contrib-width">

    <h1 class="tea-center"><%- page.title %></h1>
    <p class="tea-center">
        <%- page.subtitle %>
    </p>
    <span class="breathe"></span>

    <div class="">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="button responsive white" href="#Konten-Panduan">Panduan</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="button responsive white" href="#Web-Development">Web</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="button responsive white" href="#">Pengembang</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a class="button responsive white" href="#">putih</a>
            </div>
        </div>
    </div>

    <%- page.content %>

    <% if (page.type === 'panduan') { %>
      <div class="guide-links">
        <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
          <span>← <a href="<%- url_for_lang(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
          <span style="float:right"><a href="<%- url_for_lang(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
      </div>
    <% } %>

    <div class="footer">
      Menemukan kesahalan atau ingin berkontribusi pada dokumentasi ini ?
      <a href="https://github.com/doscom/tealinuxos.org/blob/master/src/<%- page.path.replace(/\.html$/, '.md') %>" target="_blank"><br>
        Sunting halaman ini secara langsung di Github cek travis
      </a>
    </div>
</div>
