<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<!-- <li><a href="<%- url_for_lang('panduan/') %>">Panduan</a></li> -->
<li><a href="<%- url_for_lang('/panduan') %>"><%= __('menu.panduan') %></a></li>

<!--li><a href="/v2/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Dukungan</a></li-->

<li><a href="<%- url_for_lang('kontribusi/') %>"><%= __('menu.kontribusi') %></a></li>
<li><a href="https://medium.com/tealinuxos" target="_blank"><%= __('menu.blog') %></a></li>
<!-- <%- partial('partials/ecosystem_dropdown') %> -->
<%- partial('partials/language_dropdown') %>
